<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>登录时代书店 || bookshop</title>
        <link href="/css/page.css" rel="stylesheet" type="text/css" />
        <link href="/css/reset.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquey-1.8.0.min.js"></script>
    </head>

    <body>
        <div class="unLoginWrap">
            <div class="register_wrap">
                <div class="register_content register_content2 clear">

                    <div class="register_logo">
                        <a href="index" title="返回首页" name="ddnav_logo">
                            <img src="/images/logo/logo7.png" alt="时代网">
                        </a>
                    </div>
                    <div class="banner clear">
                        <div class="bannerHeader fr sprite"></div>
                    </div>
                </div>
               <!--  <div class="registerhead_bottom"></div> -->
            </div>
            <div id="login" class="clear">
               
                <div class="loginFace fr">
                <div class="loginHeader clear">
                    <h2>登陆时代</h2>
                    <span class="login_help fr">登陆帮助</span>
                    <span class="metTra fr">遇到困难？</span>
                </div>

                    <form action="check" method="post" style="margin:20px 0">
                        <div class="loginName">
                            <label for="logname" class="login_name"><span></span></label>
                            <Input type=text id="logname" name="name" autofocus autocomplete="off" placeholder="邮箱/手机号">
                        </div>
                        <script>
                            $(function () {
                                $(".loginName").click(function  () {
                                    $(this).addClass("focus");
                                })
                            });
                        </script>
                        <div class="loginPaw">
                            <label for="password" class="login_paw"><span></span></label>
                            <Input type=password id="password" name="password" autocomplete="off" placeholder="密码">
                        </div>
                        <div class="login_links clear">
                            <a class="fl" href="lost"><span class="tipS" >忘记登陆密码？</span></a>

                            <a class="fr" href="register"> <span>免费注册</span></a>
                        </div>
                            <Input type=submit name="g" value="登录">
                    </form>


                    <div class="backcontent ">
                        <p >合作网站账号登陆<span class="cor7 padl15"><html:getProperty name="loginBean" property="backNews"/></span></p>
                        <p class="login_partners clear">
                            <a class="sina" href=""></a>
                            <a class="qq" href=""></a>
                            <a class="alipay" href=""></a>
                            <a class="weixin" href=""></a>
                            <a class="lefen" href=""></a>

                        </p>
                        <p class="link_text">
                            <a href=""><span>QQ</span></a>
                            <a href=""><span>新浪微博</span></a>
                            <a href=""><span>微信账号</span></a>
                            <a href=""><span>豆瓣账号</span></a>
                            <a href=""><span>人人</span></a>
                            <a href=""><span>搜狐</span></a>
                            <a href=""><span>网易邮箱</span></a>
                            <html:getProperty name="loginBean" property="logname"/></span></span>
                        </p>

                    </div>
                </div>
            </div>
            <div id="footer" class="clear">
                <p class="padt10 textc cor2 lh20">
                    <a class="disin padlr10" href="" target="_blank">巴黎shop</a>
                    <a class="disin padlr10" href="" target="_blank">当当网</a>
                    <a class="disin padlr10" href="" target="_blank">亚马逊</a>
                    <span class="dinin padlr20">|</span>
                    <a class="disin padlr10" href="">微博微信</a>
                    <a class="disin padlr10" href="">天猫旗舰店</a>
                    
                </p>
                
            </div>
        </div>

    </body>

</html>
